# This file specifies files that are *not* uploaded to Google Cloud
.gcloudignore
.git
.gitignore

# Development files
node_modules/
src/__tests__/
jest.config.js

# Environment variables (secrets should be in Secret Manager)
.env
.env.*

# Debug logs
*.log
